<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UCaaSConnectionString" connectionString="Data Source=192.168.1.221;Initial Catalog=UCaaSV4;User ID=sa;Password=cisco@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>